/*
Name : siddhartha singh
License : MIT
Conatct : sidd5sci@gmail.com
*/
* {
  padding: 0;
  border: 0;
  margin: 0;
}

.wrapper {
  width: 80%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-md-1 {
  width: 8.33%;
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
}

.col-md-2 {
  width: 16.66%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}

.col-md-3 {
  width: 24.99%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.col-md-4 {
  width: 33.32%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.col-md-5 {
  width: 41.65%;
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
}

.col-md-6 {
  width: 49.98%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-md-7 {
  width: 58.31%;
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
}

.col-md-8 {
  width: 66.64%;
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
}

.col-md-9 {
  width: 74.97%;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.col-md-10 {
  width: 83.3%;
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
}

.col-md-11 {
  width: 91.63%;
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
}

.col-md-12 {
  width: 99.96%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

h1, h2, h3, h4, h5, h5, p, span {
  font-family: "Nunito", sans-serif;
}

/** 
navigation start
*/
.nav {
  width: 100%;
  height: 70px;
  background: #343a40;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 5px #fff !important;
          box-shadow: 1px 1px 5px #fff !important;
}

.nav .brand {
  color: #fff;
  font-family: "Nunito", sans-serif;
  padding-top: 20px;
  padding-left: 40px;
  font-size: 24px;
}

.nav .collapse {
  height: 30px;
  width: 30px;
  position: relative;
  top: -28px;
  left: 220px;
  border-radius: 50%;
  cursor: pointer;
}

.nav .section-right {
  position: absolute;
  right: 18px;
  top: 20px;
}

.nav .section-right form {
  position: absolute;
  right: 100px;
}

.nav .section-right form input {
  height: 40px;
  width: 200px;
  border-radius: 24px;
  padding-left: 21px;
  color: #ccc;
}

.nav .section-right form button {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #3490dc;
}

.nav .section-right .search-results {
  width: 250px;
  height: auto;
  position: absolute;
  top: 72px;
  right: 100px;
  list-style: none;
  z-index: 10;
}

.nav .section-right .search-results .search-item {
  height: 70px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px #343a40;
          box-shadow: 1px 1px 5px #343a40;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: .2em;
}

.nav .section-right .search-results .search-item .search-img {
  height: 50px;
  width: 50px;
}

.nav .section-right .pills {
  color: #ccc;
  list-style: none;
  position: absolute;
  top: 7px;
  right: 50px;
}

.nav .section-right .pills a {
  color: #fff;
}

.nav .section-right .dropdown {
  position: absolute;
  right: 25px;
  top: 41px;
  width: 162px;
  min-height: 20px;
  z-index: 2;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px #ccc;
          box-shadow: 1px 1px 2px #ccc;
  border-radius: 8px;
  padding: 10px;
  display: none;
}

.nav .section-right .dropdown ul {
  list-style: none;
}

.main {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/** left bar **/
.left-bar {
  width: 15%;
  background: #343a40;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.left-bar .list-menu {
  list-style: none;
  width: 100%;
}

.left-bar .list-menu .list-item {
  width: 100%;
  color: #fff;
  min-height: 40px;
}

.left-bar .list-menu .list-item a {
  color: #fff;
  display: inline;
  padding: 15px;
}

.left-bar .list-menu .list-item .shrinked {
  font-size: 12px;
  text-align: center;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  height: 35px !important;
}

.left-bar .list-menu .list-item .shrinked span {
  text-align: center;
}

.content-main {
  width: 85%;
  position: absolute;
  left: 15%;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ccc;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #dee2e6;
  min-height: 70px;
  color: #343a40;
}

.footer p {
  padding-top: 20px;
  text-align: center;
}
