/*
Name : siddhartha singh
License : MIT
Conatct : sidd5sci@gmail.com
*/

// ==========================================================================
// sections
// ==========================================================================
//
// colors
// grid
// header
// leftBar
//
//
//
//////

*{
  padding: 0;
  border:0;
  margin:0;
  
}

.wrapper{
  width:80%;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}

@import 'components/variables';
@import 'components/skeleton';
@import 'components/typography';
@import 'components/header';
@import 'components/main';



