/** 
navigation start
*/
.nav{
  width:100%;
  height:70px;
  background : $dark;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px $white !important;

  .brand{
    color:$white;
    font-family: $font-family-sans-serif;
    padding-top: 20px;
    padding-left:40px;
    font-size: 24px;
  }
  .collapse{
    height: 30px;
    width: 30px;
    position: relative;
    top: -28px;
    left: 220px;
    border-radius: 50%;
    cursor: pointer;
  }
  .section-right{
    position: absolute;
    right:18px;
    top:20px;
    form{
      position: absolute;
      right:100px;

      input{
        height:40px;
        width:200px;
        border-radius: 24px;
        padding-left: 21px;
        color: #ccc;
      }
      button{
        height: 40px;
        width: 40px;
        position: absolute;
        right: 0px;
        top: 0px;
        background: $primary;
      }
    }

    .search-results{
      width:250px;
      height:auto;
      position: absolute;
      top:72px;
      right:100px;
      list-style: none;
      z-index: 10;

      .search-item{
        height:70px;
        background:$white;
        box-shadow: 1px 1px 5px $gray-800;
        padding:10px;
        box-sizing: border-box;
        margin-bottom: .2em;
        .search-img{
          height:50px;
          width:50px;
        }
      }
    }

    .pills{
      color:#ccc;
      list-style: none;
      position: absolute;
      top: 7px;
      right: 50px;
      a{
        color:$white;
      }

    }
    .dropdown{
      position: absolute;
      right: 25px;
      top: 41px;
      width: 162px;
      min-height: 20px;
      z-index: 2;
      background: #fff;
      box-shadow: 1px 1px 2px #ccc;
      border-radius: 8px;
      padding:10px;
      display:none;

      ul{
        list-style: none;
      }
    }
  }
}

