

/** left bar **/

.left-bar{
  width:15%;
  background:$dark;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  box-sizing: border-box;

  .list-menu{
    list-style: none;
    width: 100%;

    .list-item{
      width: 100%;
      color:$white;
      min-height:40px;
      // box-sizing: border-box;
      
      a{
        color:$white;
        display: inline;
        padding:$padding;
      }
      .shrinked {
        // width: 7%;
        font-size: 12px;
        text-align: center;
        padding: 0.75rem 1.5rem;
        display: inline-block;
        height: 35px !important;
        span{
          text-align: center;
        }
      }

    }
  }

}